DNN/utils/__pycache__/*.pyc
*.pyc
nanoaodframe_*TLFV/src/*.o
*.pcm
JetMETObjects_dict.C
rootdict.C
*.swp
# Prerequisites
*.d
*/topPtReweight/*txt
*/topPtReweight/*pdf


#temporary files that are generated when running codes
syst_all_*.yml
*_forSyst.yml
config_Run2.yml
files_Run2.yml

#plotit
plotIt/external/include
plotIt/external/lib
plotIt/external/share
plotIt/external/tclap-1.2.1
plotIt/external/yaml-cpp-yaml-cpp-0.6.2
plotIt/plotIt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
JetMETObjects_dict_rdict.pcm
rootdict_rdict.pcm
libnanoaodrdframe.so
nanoaodrdataframe

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
